<h1>Please Sign In! </h1>
<%= form_for(:user, :url => sessions_url, :method => :post) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br><br>

	<%= f.label :password %>
	<%= f.password_field :password %>
	<br><br>

	<%= f.submit "Log in" %>
<% end %>

<h1>Create New User</h1>
<%= form_for(:user, :url => new_user_url) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, :value => ''%>
	<br><br>

	<%= f.label :password %>
	<%= f.password_field :password %>
	<br><br>
	
	<%= f.submit "Create user" %>
<% end %>