<h1>Please Sign In! </h1>
<%= form_for(:user, :url => sessions_url, :method => :post) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br><br>

	<%= f.label :password %>
	<%= f.password_field :password %>
	<br><br>

	<%= f.submit "Log in" %>
<% end %>
<br><Br>
<%= link_to "Create New User", new_user_url %>