<h1> New Subscription Plan for the <%= @paper.title %></h1>

<%= form_for(@sub) do |f| %>
	<%= f.hidden_field :newspaper_id, {:value => "#{@paper.id}"} %>
	
	<%= f.label :price %>
	<%= f.number_field :price %>
	<br><br>

	<%= f.label :daily_true , "Daily"%>
	<%= f.radio_button :daily, true %>
	<br><br>

	<%= f.label :daily_false, "Weekly" %>
	<%= f.radio_button :daily, false %>

	<br><br>

	<%= f.submit %>

<% end %>